# Core dependencies
numpy
pandas
scipy
tqdm
pydantic
pebble

# PM4PY dependencies
deprecation
networkx
graphviz
intervaltree
lxml
matplotlib
pydotplus
pytz
cvxopt;python_version<'3.14'

# ML dependencies
torch
xgboost
scikit-learn

# Additional tools
pulp-cli
jupyterlab
aiohttp
